*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

html {
    font-size: 75%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #142D4C;
    color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 45em;
    height: 52rem;
    background-color: #385170;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #9FD3C7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-shadow: .05rem .05rem rgba(0, 0, 0, 0.7)
}

i + div {
    margin-left: 100px;
    margin-right: 100px;
}

.month i {
    font-size: 1.8rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.month p {
    font-size: 1.3rem;
}





